@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");


:root {
    --bg-color: hsl(23, 17%, 91%);
    --text-color: hsl(5, 9%, 23%);
    --text-hover: hsl(5, 9%, 10%);
    --bg2-color: #5c5c5c;
    --ker1: #727271;
    --ker2: #d8d2ca;

    /*d1d1d1*/
    --header-height: 3.5rem;
    --first-color: hsl(208, 88%, 50%);
    --second-color: hsl(196, 100%, 45.45%);
    --first-gradient: linear-gradient(90deg,
            hsl(208, 88%, 50%),
            hsl(208, 91%, 59%));
    --title-color: hsl(255, 12%, 12%);
    --text-color: hsl(225, 12%, 24%);
    --text-color-light: hsl(255, 4%, 70%);
    --body-color: hsl(0, 0%, 100%);
    --container-color: hsl(0, 0%, 100%);
    --white-color: hsl(0, 0%, 100%);
    --black-color: hsl(255, 20%, 10%);
    --gray-border: hsl(255, 6%, 90%);
    --black-border: hsl(255, 10%, 20%);
    --body-font: "Montserrat", sans-serif;
    --big-font-size: 2.25rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;
    --z-tooltip: 10;
    --z-fixed: 100;
}


@media screen and (min-width: 1150px) {
    :root {
        --big-font-size: 3.5rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
    }
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

h1,
h2,
h3,
h4 {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}


.container {
    max-width: 1120px;
    margin-inline: 1.5rem;
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.section {
    padding-block: 5rem 1rem;
}

.section__title,
.section__subtitle {
    text-align: center;
}

.section__title {
    font-size: var(--h1-font-size);
    font-weight: var(--font-bold);
    margin-bottom: 1.5rem;
}

.section__subtitle {
    display: block;
    font-size: var(--normal-font-size);
    font-weight: var(--font-semi-bold);
    color: var(--second-color);
    margin-bottom: .5rem;
}

.main {
    overflow: hidden;
}


.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: var(--z-fixed);
    transition: background-color .4s;
}

.nav {
    position: relative;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    display: flex;
    align-items: center;
    column-gap: .25rem;
}

.nav__logo span {
    color: var(--text-color);
    font-weight: var(--font-semi-bold);
    transition: color .4s;
}

.nav__logo i {
    color: var(--first-color);
    font-size: 1.5rem;
}

.nav__toggle,
.nav__close {
    font-size: 1.5rem;
    color: var(--text-color);
    cursor: pointer;
    transition: color .4s;
}


@media screen and (max-width: 1150px) {
    .nav__menu {
        position: fixed;
        top: 0;
        right: -100%;
        background-color: var(--white-color);
        width: 80%;
        height: 100%;
        padding: 7.5rem 3.5rem 0;
        border-left: 2px solid var(--white-color);
        transition: right .4s;
    }
}

.nav__list {
    display: flex;
    flex-direction: column;
    row-gap: 4rem;
}

.nav__link {
    color: var(--text-color);
    font-weight: var(--font-semi-bold);
    transition: color .4s;
}


.nav__link:hover {
    color: var(--text-hover);
}

.nav__close {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
}


.show-menu {
    right: 0;
}

.bg-header {
    background-color: var(--body-color);
    box-shadow: 0 4px 16px hsla(255, 90%, 8%, .1);
}

.bg-header .nav__logo span,
.bg-header .nav__toggle {
    color: var(--text-color);
}


.active-link {
    color: var(--first-color);
}



/* HOME */

.home {
    position: relative;
    height: 730px;
    background-color: var(--bg-color);
}

.home__container {
    position: relative;
    row-gap: 3rem;
    padding-block: 2.5rem 6rem;
}

.home__content {
    row-gap: 2.5rem;
}

.home__data {
    text-align: center;
}

.home__title {
    color: var(--white-color);
    font-size: var(--big-font-size);
    font-weight: var(--font-bold);
    margin-bottom: 1rem;
}

.home__description {
    margin-bottom: 2.5rem;
    color: var(--white-color);
}

.home__bg,
.home__gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.home__bg {
    object-fit: cover;
    object-position: center;
    filter: blur(4px);
}

.home__gradient {
    background: linear-gradient(180deg, hsla(25, 70%, 55%, 0) 80%, hsl(25, 70%, 55%)100%);
}

.home__logo {
    position: absolute;
    width: 500px;
    height: 420px;
    top: 8rem;
    justify-self: center;
}


.home__button {
    position: absolute;
    bottom: 11rem;
    justify-self: center;
    color: var(--white-color);
    width: 94px;
    height: 94px;
    border: 2px solid var(--white-color);
    border-radius: 50%;
    display: grid;
    place-content: center;
    text-align: center;
    padding-top: 1rem;
    z-index: 5;
    transition: transform .4s;
}

.home__button:hover {
    transform: translateY(-.4rem);
}

.home__button span {
    font-weight: var(--font-semi-bold);
}

.home__button i {
    font-size: 1.5rem;
}

.home__img-1 {
  width: 250px;
  bottom: 1rem;
}

.home__images {
  position: relative;
  justify-self: center;
}



/* ABOUT */

.about__container {
    row-gap: 8rem;
}

.about__data {
    text-align: center;
}

.about__description {
    margin-bottom: 2rem;
}

.about__list {
    text-align: initial;
    grid-template-columns: repeat(2, 130px);
    justify-content: center;
    gap: 1.5rem;
    margin-bottom: 2.5rem;
}

.about__list-item {
    display: flex;
    column-gap: .5rem;
    color: var(--title-color);
}

.about__list-item i {
    font-size: 1.25rem;
    color: var(--first-color);
}

.about__images {
    position: relative;
    justify-self: center;
}

.about__img-1 {
    width: 200px;
    border: 5px solid var(--body-color);
    position: absolute;
    top: -5rem;
    left: -6rem;
}

.about__img-2 {
    width: 250px;
    margin-right: 2.5rem;
}

.button {
    display: inline-flex;
    background: var(--first-gradient);
    color: var(--white-color);
    font-weight: var(--font-semi-bold);
    padding: 1rem 2rem;
    transition: box-shadow .4s;
}

.button:hover {
    box-shadow: 0 8px 32px hsla(208, 88%, 50%, .3);
    color: var(--white-color);
}

/* 10% off */

.btn {
    max-width: fit-content;
    padding: 1rem 3rem;
    outline: none;
    border: none;
    font-size: 0.8rem;
    font-weight: 00;
    color: var(--body-color);
    background-color: var(--bg2-color);
    transition: 0.3s;
    cursor: pointer;
}

.btn:hover {
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
}

.subscribe {
    background-color: var(--bg-color);
    padding-bottom: 2rem;
    padding-top: 1rem;
}

.subscribe__container {
    display: grid;
    gap: 1.5rem;
}

.subscribe__container div {
    text-align: center;
}

.subscribe__container h2 {
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 00;
    color: var(--text-dark);
}

.subscribe__container p {
    color: var(--white);
}

/*CONTACT*/

.contact__container {
    row-gap: 3rem;
    padding-block: 1.5rem 3rem;
}

.contact__img {
    width: 620px;
    height: 550px;
    justify-self: center;
}

.contact__data {
    grid-template-columns: 230px;
    justify-content: center;
    row-gap: 1.5rem;
}

.contact__card {
    background-color: var(--container-color);
    border: 2px solid var(--gray-border);
    padding: 1.5rem 2rem;
    text-align: center;
    transition: border-color .4s;
}

.contact__card:hover {
    border-color: var(--first-color);
}

.contact__icon {
    width: 48px;
    height: 48px;
    background-color: var(--black-color);
    color: var(--white-color);
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 2rem;
    margin: 0 auto 1.25rem;
}

.contact__title {
    font-size: var(--h2-font-size);
    margin-bottom: .5rem;
}

.contact__info {
    font-style: normal;
}

.contact__social {
    display: flex;
    justify-content: center;
    column-gap: 1rem;
    margin-top: 1rem;
}

.contact__social-link {
    font-size: 1.5rem;
    color: var(--first-color);
    transition: transform .4s;
}

.contact__social-link:hover {
    transform: translateY(-.25rem);
}
.wassap{
    text-decoration: none;
}
.contact__extra{
    margin-block-start: 1rem;
}
/*SERVICES*/
.services__container {
    grid-template-columns: 400px;
    justify-content: center;
}

/*GALLERY*/
.gallery__container {
    grid-template-columns: 200px;
    justify-content: center;
}

.gallery__card {
    position: relative;
    border-radius: 1.5rem;
    overflow: hidden;
}

.gallery__shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg,
            hsla(0, 0%, 0%, 0) 70%,
            hsla(0, 0%, 0%, .7) 100%);
}

.gallery__img {
    transition: transform .4s;
}

.gallery__data {
    position: absolute;
    left: 1.25rem;
    bottom: 1rem;
    color: white;
}

.gallery__subtitle {
    font-size: var(--h1-font-size);
}

.gallery__title {
    font-size: var(--h2-font-size);
}

.gallery__card:hover .gallery__img {
    transform: scale(1.2);
}


/*FOOTER*/

.footer {
    background-color: var(--black-color);
    color: var(--text-color-light);
    padding-block: 3.5rem 2rem;
}

.footer__container {
    row-gap: 4rem;
    padding-bottom: 4rem;
    border-bottom: 1px solid var(--black-border);
}

.footer__logo {
    display: inline-flex;
    align-items: center;
    column-gap: .25rem;
}

.footer__logo span {
    color: var(--white-color);
    font-size: var(--h3-font-size);
    font-weight: var(--font-semi-bold);
}

.footer__logo i {
    color: var(--first-color);
    font-size: 1.5rem;
}

.footer__description {
    margin-block: 1rem;
}

.footer__email,
.footer__info {
    font-style: normal;
}

.footer__content {
    grid-template-columns: repeat(2, max-content);
    gap: 4rem 3rem;
}

.footer__title {
    font-size: var(--h3-font-size);
    color: var(--white-color);
    margin-bottom: 1rem;
}

.footer__links,
.footer__link {
    display: grid;
    row-gap: .5rem;
}

.footer__link {
    color: var(--text-color-light);
    transition: color .4s;
}

.footer__link:hover {
    color: var(--first-color);
}

.footer__social {
    display: flex;
    column-gap: 1rem;
}

.footer__social-link {
    font-size: 1.5rem;
    color: var(--first-color);
    transition: transform .4s;
}

.footer__social-link:hover {
    transform: translateY(-.25rem);
}

.footer__copy {
    display: block;
    text-align: center;
    font-size: var(--small-font-size);
    margin-top: 4rem;
}

/*=============== SCROLL UP ===============*/
.scrollup {
    position: fixed;
    right: 1rem;
    bottom: -50%;
    background-color: var(--first-color);
    box-shadow: 0 4px 16px hsla(353, 100%, 8%, .2);
    color: var(--text-color);
    display: inline-flex;
    padding: 6px;
    font-size: 1.25rem;
    border-radius: .5rem;
    z-index: var(--z-tooltip);
    transition: bottom .4s, transform .4s;
}

.scrollup:hover {
    transform: translateY(-.5rem);
}

/* Show Scroll Up */
.show-scroll {
    bottom: 3rem;
}


@media screen and (max-width: 340px) {

    .home__title {
        font-size: 1.75rem;
    }

    .home__buttons {
        flex-direction: column;
    }

    .home__img-1{
    width: 200px;
    margin-left: 1.5rem;
  }

  .home__button{
        display: none;
    }
}

@media screen and (max-width: 495px) {
    .home__button{
        display: none;
    }
}


@media screen and (min-width: 768px) {
    .nav__menu {
        width: 50%;
    }

    .contact__data {
        grid-template-columns: repeat(2, 240px);
    }

    .footer__container {
        grid-template-columns: repeat(2, max-content);
        justify-content: space-between;
    }

    .subscribe__container {
        grid-template-columns: 2fr 1fr;
        margin: 40px 50px 40px 100px;
        padding: 40px 50px 40px 100px;

        align-items: center;
    }

    .subscribe__container div:nth-child(1) {
        text-align: left;
    }

    .subscribe__container div:nth-child(2) {
        text-align: right;
    }

    .gallery__container {
        grid-template-columns: repeat(2, 300px);
    }
}

@media screen and (min-width: 1150px) {
    .container {
        margin-inline: auto;
    }

    .section {
        padding-block: 7rem 2rem;
    }

    .nav {
        height: calc(var(--header-height) + 2rem);
    }

    .nav__toggle,
    .nav__close {
        display: none;
    }

    .nav__menu {
        width: initial;
    }

    .nav__list {
        flex-direction: row;
        align-items: center;
        column-gap: 4rem;
    }

    .home__container {
        grid-template-columns: 475px 550px;
        column-gap: 6rem;
        align-items: flex-start;
        padding-top: 5.5rem;
    }

    .home__content {
        row-gap: 4.5rem;
    }

    .home__data {
        text-align: initial;
    }

    .home__description {
        margin-bottom: 3rem;
    }

    .home__button{
        bottom: 11rem;
    }

    .home__buttons {
        justify-content: initial;
        column-gap: 3rem;
        
    }

    .home__info {
        justify-content: initial;
        column-gap: 5.5rem;
    }

    .home__info-description {
        font-size: var(--normal-font-size);
    }

    .home__img-1{
    width: 350px;
    margin-left: 0;
    padding-bottom: 100px;
  }


    .about__container {
        grid-template-columns: repeat(2, 480px);
        column-gap: 9rem;
        padding-block: 9rem 2rem;
    }

    .about__images {
        order: -1;
    }

    .about__img-1 {
        width: 370px;
        border-width: 10px;
        top: -9rem;
        left: 11rem;
    }

    .about__img-2 {
        width: 470px;
    }

    .about__data,
    .about__data :is(.section__title, .section__subtitle) {
        text-align: initial;
    }

    .about__list {
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 3.5rem;
    }

    .services__container {
        grid-template-columns: repeat(2, 500px);
        justify-content: center;
    }

    .subscribe {
        padding-bottom: 0;
        padding-top: 0;
    }


    .contatct :is(.section__title, .section__subtitle) {
        text-align: initial;
    }

    .contact__container {
        grid-template-columns: 530px 515px;
        justify-content: initial;
        align-items: flex-start;
        column-gap: 3.5rem;
        padding-block: 3.5rem 4rem;
    }

    .contact__img {
        width: 530px;
    }

    .contact__data {
        gap: 2rem;
    }

    .contact__card {
        border-width: 3px;
    }

    .contact__title {
        font-size: var(--h3-font-size);
    }

    .gallery__container {
        grid-template-columns: repeat(3, 400px);
        gap: 2rem;
    }

    .gallery__data {
        left: 2rem;
        bottom: 2rem;
    }

    .gallery__title {
        font-size: var(--h1-font-size);
    }

    .footer {
        padding-block: 4.5rem 3rem;
    }

    .footer__container {
        padding-bottom: 6rem;
    }

    .footer__content {
        column-gap: 7rem;
    }

    .footer__description {
        margin-block: 1.5rem;
    }

    .footer__title {
        margin-bottom: 1.5rem;
    }

    .footer__links,
    .footer__list {
        row-gap: 1rem;
    }
}
@media screen and (min-width: 1300px) {
    .home__button {
        bottom: 11rem;
    }
}
@media screen and (min-width: 1500px) {
    .home__button {
        bottom: 14rem;
    }
}



/*Másik Lap*/
.home__data__2{
    text-align: center;
}
.home__container__2{
    position: relative;
    justify-self: center;
    padding-top: 16rem;
}